# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
*.pot
*.pyc
__pycache__/
local_settings.py

# Database
db.sqlite3

# Environments
env/
venv/
ENV/
env.bak/
venv.bak/

# Secrets
*.env

# Node
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

